# Ignore bundler config
/.bundle

log/*.*
log/*
*.log
tmp/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
*.swp
*.swo
*.swn
*~
.DS_Store
mate.tmproj
coverage/*
coverage/*.*

# Compiled gem
pkg/*.*
*.gem

#IntelliJ/RubyMine files
*.iml
**/.idea/*

# will be regenerated as necessary
script/hive/manifest.mf

/public/assets
